<header class="header">
      <span class="title">{{pageTitle}}</span>
      <a href="#/movies" class="backToWall" title="Back to movies Wall">All movies</a>
</header>
<section id="movie" ng-show="movie" ng-cloak>
    <section class="poster">
      <img ng-src="data/covers/{{movie.imdb_id}}.jpg" rel="noreferrer"/>
    </section>
    <section class="content">
    	<!--
			 TODO - 1 : remplacer 'TITRE-DU-FILM' par un binding
			 vers le titre du film (movie.title)
			 -->
      <h1>TITRE-DU-FILM</h1>
      <vote value="movie.rating" max="10" stars="10" class="bigvote"/>
      <vote label="Meter" value="movie.tomatoMeter" max="100" stars="10"/>
      <vote label="Rating" value="movie.tomatoRating" max="10" stars="10"/>
      <vote label="User Meter" value="movie.tomatoUserMeter" max="100" stars="10"/>
      <vote label="User Rating" value="movie.tomatoUserRating" max="5" stars="10"/>
      
      <ul class="tags">
          <li ng-repeat="genre in movie.genres.split(',')">
            <span class="label label-warning">{{genre}}</span>
          </li>
      </ul>
      <p id="duration">
        <span>Duration : </span><span class="duration">{{movie.runtime[0]}}</span>     
      </p>
      <p id="date">
        Date : <span class="date">{{movie.year}}</span>     
      </p>

      <p id="directors" >
		Directed by : <span class="directors">{{movie.directors | separatedByCommas}}</span>     
      </p>
      <p id="actors">
		With : <span class="actors">{{movie.actors | separatedByCommas}}</span>
      </p>

      <h3>Synopsis</h3>
      <hr/>
      {{movie.plot_simple}}
      <h3>Critic</h3>
      <hr/>
      {{movie.tomatoConsensus}}      
    </section>
</section>
