<section class="movies-list">
	<header class="header">
			<!--
			 TODO - 1 : remplacer 'TITRE-DE-LA-PAGE' par un binding
			 vers le champ du scope correspondant ('pageTitle') -->
			<span class="title">{{pageTitle}}</span>		
			<input ng-model="actorName" placeholder="Looking for an actor?" class="form-control"></input>
			<section ng-class="tagStyle()">
            	TAGS
                <ul>
                    <li ng-repeat="cat in categories | orderBy:'toLowercase()'" class="tags">
                        <span 
                        	ng-class="{
                        		label:true, 
                        		tag:true, 
                        		'label-warning' : isSelected(cat),  
                        		unselected : !isSelected(cat) 
                        	}" 
                        >{{cat}}</span>
                    </li>
                </ul>
            </section>
	</header>
	<section class="movies">
		<ul>
			<!-- 
				TODO - Filtre - ActorSearch : utiliser un filtre actorSearch 
				permettant de filtrer les films par nom d'acteur qui y joue
			-->
			<li ng-repeat="movie in movies | orderBy:'title'" class="movie">

				<a href="#/movies/{{movie.imdb_id}}">
					<img ng-src="data/covers/{{movie.imdb_id}}.jpg"/>
					<span class="movie-shadow"/>
				</a>

				<section class="movie-detail-icon">
					<i class="glyphicon glyphicon-film"/>
				</section>
				
				<section class="movie-abstract">
					<h3>{{movie.title}}</h3>
                 	<vote value="movie.rating" max="10" stars="10"></vote> 
                 	{{movie.rating}}
					<span>					
						By : {{movie.directors | separatedByCommas}}
					</span>
					<span>							
						With : {{movie.actors | separatedByCommas }}
					<span>
					{{movie.plot_simple}}
				</section>
				
				<ul class="movie-genres">
					<li ng-repeat="genre in movie.genres">
						<span class="label label-warning">{{genre}}</span>
					</li>
				</ul>
			</li>
		</ul>
	</section>
</section>
