<section class="movies-list">
	<header>
			<span class="title">My Favorites Movies</span>
			<ul>
				<li ng-repeat="cat in categories | orderBy:'toLowerCase'" class="filters">
					<span class="label category-filter label-warning" ng-show="isSelected(cat)" ng-click="filter(cat)">{{cat}}</span>
					<span class="label category-filter unselected" ng-show="!isSelected(cat)" ng-click="filter(cat)">{{cat}}</span>
				</li>
			</ul>
				<input ng-model="actorsearch" placeholder="Looking for an actor?" class="form-control"></input>
	</header>
	<section class="movies">
		<!--Body content-->
		<ul>
			<li ng-show="{{movie.poster.cover != undefined}}" ng-repeat="movie in movies | selectedGenres:filters | actorSearch:actorsearch" class="movie">
				<a href="#/movies/{{movie.imdb_id}}">
					<img ng-src="{{movie.poster.cover}}"/>
					<span class="movie-shadow"/>
				</a>
				<section class="movie-detail-icon">
					<i class="glyphicon glyphicon-film"/>
				</section>
				<section class="movie-abstract">
					<h3>{{movie.title}}</h3>
                 	<vote value="movie.rating" max="10" stars="10"/>
                 	{{movie.rating}}
                   	<!--<span class="glyphicon glyphicon-star"></span>-->
					<span>
						By : {{movie.directors | separatedByCommas }}
					</span>
					<span>
						With : {{movie.actors | limitSize | separatedByCommas }}
					<span>
					{{movie.plot_simple}}
				</section>
				<ul class="movie-genres">
					<li ng-repeat="genre in movie.genres | limitTo:3">
						<span class="label label-warning">{{genre}}</span>
					</li>
				</ul>
			</li>
		</ul>
	</section>
</section>
