<section>
	<header>
			Filter group
			<div class="btn-group btn-group-horizontal">
				<button class="btn" data-toggle="buttons-checkbox">Horror</button>
				<button class="btn" data-toggle="buttons-checkbox">Fantastic</button>
				<button class="btn" data-toggle="buttons-checkbox">Comedy</button>
			</div>
	</header>
	<section class="movies">
		<!--Body content-->
		<ul>
			<li ng-show="{{movie.poster.cover != undefined}}" ng-repeat="movie in movies">
				<a href="#/movies/{{movie.imdb_id}}">
					<img ng-src="{{movie.poster.cover}}"/>
				</a>
				<section class="movie-detail-icon">
					<i class="glyphicon glyphicon-film"/>
				</section>
				<section class="movie-abstract">
					<h3>{{movie.title}}</h3>
                 	<vote value="movie.rating" max="10" stars="10"/>
                 	{{movie.rating}}
                   	<!--<span class="glyphicon glyphicon-star"></span>-->
					<span>
						By : {{movie.directors | separatedByCommas }}
					</span>
					<span>
						With : {{movie.actors | limitSize | separatedByCommas }}
					<span>
					{{movie.plot_simple}}
				</section>
				<ul class="movie-genres">
					<li ng-repeat="genre in movie.genres | limitTo:3">
						<span class="label label-info">{{genre}}</span>
					</li>
				</ul>
			</li>
		</ul>
	</section>
</section>
