/* app css stylesheet */
@import url(http://fonts.googleapis.com/css?family=Share+Tech);

body {
  background: black;
  color: white;
}
.movies > ul {
  padding: 0px;
}

.movies > ul > li {
  width:20%; 
  height:350px; 
  display:block; 
  float:left; 
  list-style-type:none; 
  overflow:hidden;
  position:relative;
}

.movies > ul > li:hover{
  opacity: 0.90 !important;
  box-shadow: inset 0px 0px 7px 0px #4d4d4d !important;
}

vote ul{
  font-size:10px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

vote ul li { 
  display: inline; 
}

.movies > ul > li > a > img{
  width:100%; 
  height:100%;
}

.movies > ul > li .movie-detail-icon{
  display:none;
  position:absolute;
  z-index: 1000000;
  border: 2px solid #d3d3d3;
  width:50px;
  height:50px;
  bottom: 10px;
  left: 10px;
  cursor: pointer;
  /*border-radius: 50%;*/
  background:rgba(32,32,32,0.95);
}

.movies > ul > li .movie-detail-icon i{
  font-size:25px;
  margin-left: 10px;
  margin-top: 5px;
}


.movies > ul > li:hover .movie-detail-icon{
  display:block;
}

.movies > ul > li > .movie-abstract{
  display:none;
  height:50;
  position:absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 10px;
  background:rgba(32,32,32,0.95);
}

.movies > ul > li .movie-detail-icon:hover+.movie-abstract{
  display:block;
}


.movies > ul > li .movie-abstract span{
  display:block;
  margin-top: 5px;
}

.movies > ul > li .movie-abstract h3{
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: Share Tech;
}


.movie-detail-icon ~ .movie-genres{
  display: none;
  padding:0px;
  z-index: 1000000;
  height:50px;
  position:absolute;
  top:10px;
  left:10px;
  list-style-type: none;
}

.movies > ul > li:hover .movie-genres{
  display: block;
}

.movie-detail-icon:hover ~ .movie-genres{
  display:none;
}